<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="symptom/state"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="county$ | async as county">
      {{county.formattedAddress}}
      <ng-container *ngIf="selected$ | async as selected">
        <ion-badge *ngIf="county.metric && selected.id === TEMPERATURE_SYMPTOM"
          [color]="badgeColorService.temperature(county.metric)" 
          slot="end"
        >
          {{county.metric | number:'1.0-1'}}&deg;
        </ion-badge>
        <ion-badge *ngIf="county.metric && selected.id !== TEMPERATURE_SYMPTOM"
          [color]="badgeColorService.temperature(county.metric)" 
          slot="end"
        >
          {{county.metric}}
        </ion-badge>
      </ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-locations-map
    [places]="cities$ | async"
    [bounds]="county$ | async" 
  >
  </app-locations-map>
  <ion-list>
    <ion-item *ngFor="let city of cities$ | async" [routerLink]="['city', city.placeId]">
      <ion-label>{{city.formattedAddress}}</ion-label>
      <ng-container *ngIf="selected$ | async as selected">
        <ion-badge *ngIf="city.metric && selected.id === TEMPERATURE_SYMPTOM"
          [color]="badgeColorService.temperature(city.metric)" 
          slot="end"
        >
          {{city.metric | number:'1.0-1'}}&deg;
        </ion-badge>
        <ion-badge *ngIf="city.metric && selected.id !== TEMPERATURE_SYMPTOM"
          [color]="badgeColorService.temperature(city.metric)" 
          slot="end"
        >
          {{city.metric}}
        </ion-badge>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-symptom-select 
      [selected]="selected$ | async" 
      [symptoms]="symptoms$ | async"
      (select)="selectSymptom($event)"
    >
    </app-symptom-select>
  </ion-toolbar>
</ion-footer>
