<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="symptom/state"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="city$ | async as city">
      {{city.formattedAddress}}
      <ng-container *ngIf="selected$ | async as selected">
        <ion-badge *ngIf="city.metric && selected.id === TEMPERATURE_SYMPTOM"
          [color]="badgeColorService.temperature(city.metric)" 
          slot="end"
        >
          {{city.metric | number:'1.0-1'}}&deg;
        </ion-badge>
        <ion-badge *ngIf="city.metric && selected.id !== TEMPERATURE_SYMPTOM"
          [color]="badgeColorService.temperature(city.metric)" 
          slot="end"
        >
          {{city.metric}}
        </ion-badge>
      </ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-locations-map
  [places]="neighborhoods$ | async"
  [bounds]="city$ | async" 
  >
  </app-locations-map>
  <!-- <app-locations-map [placeId]="(city$ | async)?.googleMapsPlaceId"></app-locations-map> -->
  <ion-list>
    <ion-item *ngFor="let neighborhood of neighborhoods$ | async">
      <ion-label>{{neighborhood.formattedAddress}}</ion-label>
      <ng-container *ngIf="selected$ | async as selected">
        <ion-badge *ngIf="neighborhood.metric && selected.id === TEMPERATURE_SYMPTOM"
          [color]="badgeColorService.temperature(neighborhood.metric)" 
          slot="end"
        >
          {{neighborhood.metric | number:'1.0-1'}}&deg;
        </ion-badge>
        <ion-badge *ngIf="neighborhood.metric && selected.id !== TEMPERATURE_SYMPTOM"
          [color]="badgeColorService.temperature(neighborhood.metric)" 
          slot="end"
        >
          {{neighborhood.metric}}
        </ion-badge>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-symptom-select 
      [selected]="selected$ | async" 
      [symptoms]="symptoms$ | async"
      (select)="selectSymptom($event)"
    >
    </app-symptom-select>
  </ion-toolbar>
</ion-footer>
