<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/map"></ion-back-button>
    </ion-buttons>
    <ion-title>Report Symptoms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-item slot="fixed" (click)="inputFocus()">
      <ion-icon slot="start" ios="thermometer-outline" md="thermometer-sharp"></ion-icon>
      <ion-label>Temperature</ion-label>
      <ion-input 
        formControlName="temperature"
        appNumeric 
        inputmode="decimal"
        decimals="1" 
        maxLength="5"
        (ionBlur)="temperatureUpdate($event.target.value)"
      >
      </ion-input>
    </ion-item>
    <ion-item-group>
      <ion-item-divider color="light">
        <ion-label>Other Symptoms</ion-label>
        <ion-icon slot="end" name="clipboard-outline"></ion-icon>
      </ion-item-divider>
      <ion-item *ngIf="!(symptoms$ | async)" lines="none">
        <ion-spinner name="dots"></ion-spinner>
      </ion-item>
      <ion-item *ngFor="let symptom of symptoms$ | async">
        <ion-label>{{ symptom.name }}</ion-label>
        <ion-checkbox 
          [formControlName]="symptom.id"
          slot="end" 
          (ionChange)="toggleSymptom($event.target.checked, symptom)" 
        >
        </ion-checkbox>
      </ion-item>
    </ion-item-group>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="submitSymptoms()" [disabled]="form.invalid">Report</ion-button>
</ion-footer>
