ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content ion-toolbar {
  --background: transparent;
}

ion-label {
  color: var(--ion-color-medium-shade) !important;
  font-weight: bold !important;
}

ion-item-divider {
  ion-label {
    text-decoration: underline;
    font-weight: normal !important;
  }
}

ion-item {
  position: relative;
}

ion-item-divider {
  font-size: larger;
}

ion-spinner {
  margin-left: auto;
  margin-right: auto;
}