<ion-range dualKnobs="true" min="{{rangeMin}}" max="{{rangeMax}}" (ionChange)="updateFilteredTemperatures($event.detail.value)">
  <ion-label slot="start">{{lower / 10 | number:'1.1'}}&deg;</ion-label>
  <ion-label slot="end">{{upper / 10 | number:'1.1'}}&deg;</ion-label>
</ion-range>  
