<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/map" *ngIf="authProfile$ | async"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-item [class.invalid]="form.controls.gender.invalid && form.controls.gender.touched">
      <ion-label>Gender</ion-label>
      <ion-select
        formControlName="gender"
        placeholder="Select Gender"
        (ionChange)="genderUpdate($event.target.value)"
      >
        <ion-select-option *ngFor="let enum of genderType | keyvalue" [value]="enum.key">
          {{ enum.value }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [class.invalid]="form.controls.age.invalid && form.controls.age.touched">
      <ion-label>Age</ion-label>
      <ion-input
        formControlName="age"
        appNumeric
        inputmode="numeric"
        min="0"
        max="120"
        maxlength="3"
        (ionBlur)="ageUpdate($event.target.value)"
      >
      </ion-input>
    </ion-item>
    <ion-item [class.invalid]="form.controls.temperatureType.invalid && form.controls.temperatureType.touched">
      <ion-label>Temperature Unit</ion-label>
      <ion-select
        formControlName="temperatureType"
        placeholder="Select Type"
        (ionChange)="temperatureTypeUpdate($event.target.value)"
      >
        <ion-select-option *ngFor="let enum of temperatureType | keyvalue" [value]="enum.key">
          {{ enum.value }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [class.invalid]="form.controls.location.invalid && form.controls.location.touched" button (click)="locationUpdate()">
      <ion-label>Location</ion-label>
      <ion-input
        formControlName="temperatureType"
        readonly
        [value]="(profile$ | async)?.reverseGeocode?.formattedAddress"
      >
      </ion-input>
      <ion-icon ios="locate-outline" md="locate-sharp" slot="end"></ion-icon>
    </ion-item>
  </form>
  <ion-button expand="block" (click)="update()" [disabled]="form.invalid">Update</ion-button>
</ion-content>