<ion-app>
  <ion-split-pane contentId="main-content" [disabled]="splitPaneDisabled$ | async">
    <ion-menu contentId="main-content" type="overlay" [disabled]="splitPaneDisabled$ | async">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>We Fight COVID-19</ion-list-header>
          <ion-note>{{ email$ | async }}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Take Action</ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item lines="none" routerLink="action/profile">
              <ion-icon slot="start" ios="clipboard-outline" md="clipboard-sharp"></ion-icon>
              <ion-label>Update Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item lines="none" routerLink="action/symptoms">
              <ion-icon slot="start" ios="thermometer-outline" md="thermometer-sharp"></ion-icon>
              <ion-label>Report Symptoms</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div class="version">
          <p *ngIf="appCommitHash">Current version: {{appVersion}} ({{appCommitHash}}) @ {{environmentName}}</p>
          <p *ngIf="!appCommitHash">Current version: {{appVersion}} @ {{environmentName}}</p>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
