<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="map">
        <ion-icon ios="map-outline" md="map-sharp"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="messages">
        <ion-icon ios="megaphone-outline" md="megaphone-sharp"></ion-icon>
        <ion-label>Messages</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
