<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Symptoms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-locations-map
    [places]="states$ | async"
    [bounds]="country$ | async" 
  >
  </app-locations-map>
  <ion-list>
    <ion-item *ngFor="let state of states$ | async" [routerLink]="state.placeId">
      <ion-label>{{state.formattedAddress}}</ion-label>
      <ng-container *ngIf="selected$ | async as selected">
        <ion-badge *ngIf="state.metric && selected.id === TEMPERATURE_SYMPTOM"
          [color]="badgeColorService.temperature(state.metric)" 
          slot="end"
        >
          {{state.metric | number:'1.0-1'}}&deg;
        </ion-badge>
        <ion-badge *ngIf="state.metric && selected.id !== TEMPERATURE_SYMPTOM"
          [color]="badgeColorService.temperature(state.metric)" 
          slot="end"
        >
          {{state.metric}}
        </ion-badge>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-symptom-select 
      [selected]="selected$ | async" 
      [symptoms]="symptoms$ | async"
      (select)="selectSymptom($event)"
    >
    </app-symptom-select>
  </ion-toolbar>
</ion-footer>
