ion-content {
  text-align: center;
}

h1 {
  padding-top: 1em;
  font-weight: bold;
}  

ion-img {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.version {
  position: relative;
  margin-left: -16px;
  font-size: smaller;
  p {
    position: fixed; 
    bottom: 0; 
    width:100%; 
  }
}
