<ion-content [fullscreen]="true">
  <h1>We Fight COVID-19</h1>
  <ion-img src="assets/image/Coronavirus-CDC.jpg"></ion-img>
  <h3>Self Report Your Symptoms</h3>
  <ion-button size="large" expand="block" disabled>
    Facebook
    <ion-icon slot="end" name="logo-facebook"></ion-icon>
  </ion-button>
  <ion-button size="large" expand="block" (click)="googleLogin()">
    Google
    <ion-icon slot="end" name="logo-google"></ion-icon>
  </ion-button>
  <ion-button size="large" expand="block" disabled>
    LinkedIn
    <ion-icon slot="end" name="logo-linkedin"></ion-icon>
  </ion-button>
  <ion-button size="large" expand="block" color="danger" (click)="developmentLogin()" *ngIf="isDevelopment">
    Development Login
  </ion-button>
  <div class="version">
    <p *ngIf="appCommitHash">Current version: {{appVersion}} ({{appCommitHash}}) @ {{environmentName}}</p>
    <p *ngIf="!appCommitHash">Current version: {{appVersion}} @ {{environmentName}}</p>
  </div>
</ion-content>