<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-label>Heatmap</ion-label>
      <ion-toggle 
        [checked]="showHeatMap$ | async" 
        (ionChange)="toggleShowHeatMap($event.target.checked)"
      >
      </ion-toggle>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!(showHeatMap$ | async)">
    <app-temperature-range
      [temperatureRange]="temperatureRange$ | async"
    >
    </app-temperature-range>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-locations-map *ngIf="!(showHeatMap$ | async)" 
    [bounds]="reverseGeocode$ | async" 
    [temperatures]="temperatures$ | async"
  >
  </app-locations-map>
  <app-heat-map *ngIf="showHeatMap$ | async" 
    [bounds]="reverseGeocode$ | async" 
    [temperatures]="temperatures$ | async"
  >
  </app-heat-map>
</ion-content>